html, body {
    height: 100%;
}



body {

    font-family: 'Times New Roman', serif;
    background-color: black;
}



h1 {
    color: white;
    text-align: center;
}


th, td {
    border: 1px white;
    border-style: ridge;
}
